body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Cambia height: 100vh a min-height: 100vh */
  background: linear-gradient(to right, #007bff, #00c6ff, #28a745,#ffc107);
  margin: 0;
}

.form {
  width: 600px;
  padding: 10px;
  border: 1px solid #333;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto; /* Agrega overflow: auto */
}
        
.h1, .img{
    display: inline-block; 
    vertical-align: middle;
}

.img{
width: 100px;
    margin-right: 95px;
}



.ttobservaciones{
    width: 99%;
    max-height: 125px;
    overflow-y: hidden;
    resize: none;
    margin-top: 5px;
}




    .BTN, .BTNR, .botonpwd{
        width: auto;
        margin: auto;
        margin-top: 20px;
        display: block;
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        }

        .botones{
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .BTN:hover{
            background-color: #005600;
                }
                .BTNR:hover{
                    background-color: #005600;
                        }

                        .botonpwd:hover{
                            background-color: #005600;
                                }

        


        H1{
            font-family: sans-serif;
            font-size: 20px;
            font-style: italic;
            width: auto;
            text-align: justify;
        }


        .divFecha{
            padding-bottom: 10px;
            text-align: end;
        }

        .fecha{
            text-align: center;
        }


   .nombrePx{
    width: 60.5%; 
  
   }

   .edadPx{
width: 5%;
   }

   .rutPx{
    width: 40%;
}

.contacto{
    width: 39.2%;
}




.nombreRec{
    width: 38.5%;
}


.parentesco{
    width: 63%;
    margin-top: 5px;
}



.selectMotivo{
    width: 86.5%;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 17.5px;
}

.selectRespuesta{
    margin-top: 5px;
    width: 86.5%;
}


.selectFuncionario{

    margin-top: 15px;
}









   .divNombrePx, .divRutPx { 

    margin-bottom: 5px;
}










.selectEsp{
    width: 26% ;
}

.especialistas{
    width: 35%;

}

.dx{
    width: 82%;
}





.reg{
    margin-top: 15px;
    text-align: end;
    
}



.acceso{
    width: auto;
    padding: 10px;
    border: 1px solid #333;
    background-color: #f2f4f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 8px; 
}
        .form{
          
                display: none;
            }

.funcionario{
    text-align: end;
}

.fieldset1, .fieldset2, .fieldset3, .interconsulta{

    border-color:#4CAF50;
    border: solid black 1.5px;
    margin-top: 20px;
    
}

.legend{
    font-size: 14px;
    font-weight: bold;
    font-style: italic black;
}

.especialidad {
    margin-top: 5px;
    width: 80%;
    
}

.fechaIc{
    margin-top: 5px;
    margin-left: 10px;
    width: 29%;
}

.estadoIc{
    margin-left: 22px;
    width: 29.5%;
}
.labelestadoIc{
    margin-left: 25px;
}

.fechaAgenda{
    width: 28.9%;
    margin-left: 66px;
    margin-top: 5PX;
}

.direccion{
    width: 82.4%;
    margin-left: 18px;
    margin-top: 5px;
}

.h1, .img{
    display: inline-block; 
    vertical-align: middle;
}

.selectAtencion{
    width: 78%;
}

.centroOrigen{
    width: 80%;
    margin-top: 5px;
    margin-left: 40px;
}




  .boton {
    display: inline-block;
    padding: 5px 10px;
    background-color: #2e98f0;
    color: white;
    text-decoration: none;
    text-align: end;
    border-radius: 5px;
    cursor: pointer;
  }
  .boton:hover {
    background-color: #f19934;
  }

 
